.footer {
    display: flex;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    justify-content: space-around;
    margin-top: 5%;
}

.footer div {
    display: inline-block;
    width: 33%;
    color: #fff;
    background-color: #00282a;
    padding: 30px;

}

.footer_logo img {
    display: block;
    width: 50%;

    cursor: pointer;
    margin-bottom: 20%;
}

.contact a {
    padding-left: 5px;
    color: #fff;
    text-decoration: none;
    color: rgb(234, 164, 24);
    text-decoration: none;
}

.contact p {
    border: 2px solid rgb(234, 164, 24);
    border-radius: 20px;
    padding: 10px;
    color: rgb(234, 164, 24);
}
.contact p a img {
    width: 30px;
    height: 30px;
}
.contact p:last-of-type a {
    flex-grow: 1;
}
.contact p:last-of-type a img {
    margin-left: 12px;
    display: inline-block;
}

.contact p:last-of-type {
    background-color: rgb(234, 164, 24);
    display: flex;
}

.info a {
    display: block;
    color: rgb(234, 164, 24);
    text-decoration: none;
    margin: 0 0 20px 0;
    text-align: center;
}

.work_time p {
    background-color:rgb(234, 164, 24) ;
    border-radius: 20px;
    padding: 10%;
    color: black;
}
.work_time {
    padding-top: 15% !important;
}
.info {
    padding-top: 18% !important;
    
}

@media only screen and (max-width: 431px) {
    
 .contact,.info,.compan_name {
    text-align: center !important;
 }
 
.footer {
    flex-direction: column;
}
.footer div {
    width: 86% !important;
}
}

.footer_logo img {
    margin: 0 auto;
}
.work_time h2 {
    text-align: center;
}
.work_time{
    padding-top: 0 !important;
}

.info {
    padding-top: 3% !important;
}