a {
    cursor: pointer;
}
h2 {
    color: rgb(242, 165, 11)  ;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #00282a;
    
}
.weapper {
    width: 90%;
    margin: auto;
    background-color: #f2f2ff ;
    
}


.logo {
    width: 100px;
    text-align: end;

}

    @media only screen and (max-width: 431px) {
        .weapper {
            width: 100%;
            margin: 0;
        }

    .call-button {
        color: rgb(242, 165, 11) !important;
        width: 220px !important;
        height: 100px !important;
        font-size: 25px !important;
        font-weight: bolder;
        background-color: aliceblue !important;
        margin-top: 40% !important;
        opacity: 0.7;
        border-radius: 20px;
    }
    .work_us h2 {
        font-size: 15px;
    }
    .compleks {
        display: flex;
        flex-direction: column;
    }

    .turnkey, .design {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 90% !important;
    }

    .turnkey button {
       width: 300px !important;
       height: 50px !important;
    }

    .design button {
        width: 300px !important;
        height: 50px !important;
     }
     .main_video {
        width: 90% !important;
     }
     .prices_items {
        flex-direction: column;
     }
}


.background-image {
    height: 500px;
    background-image: url(main_imgtop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.content {
    color: rgb(243, 183, 19); 
    border-top: 1px solid transparent;
}

.content a {
    text-decoration: none;
}

.content h2 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    width: 100%;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.call-button {
    background-color: #fff; 
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(242, 165, 11) ;
    width: 220px ;
    height: 100px ;
    font-size: 25px ;
    font-weight: bolder;
    background-color: aliceblue ;
    margin-top: 100px;
    opacity: 0.7;
    border-radius: 20px;
}
.call-button:hover {
    background-color: #ccc; 
}

.work_us {
    background-color: #00282a;
    text-align: center;
    font-size: 13px;
    color: #fff;
    border: 2px solid #fff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.work_us h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f2f2ff  ;
}


.info_us_img {
    display: inline-block;
    width: 39%;
    
}

.info_us_img div {
    width: 280px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.info_us_img1 {
    background-image: url(./img/info_us_img1.jpg);
}
.info_us_img2 {
    background-image: url(./img/info_us_img2.jpg);
}
.info_us_img3 {
    background-image: url(./img/info_us_img3.jpg);
}
.info_us_text {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    line-height: 30px;
    /* font-size: 20px; */
}

.info_us_text h2,h3 {
    text-align: center;
    margin-top: 0;
    /* color: #fc6; */
}
.info_us_text span {
    color: black;
    font-weight: bold;
}

.div_advantages_item div {
    width: 30%;
    height: 100px;  
    display: inline-block;
    /* background-color: aqua; */
    background-image: url(./main_img.jpg);
    background-size: contain;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}
.div_advantages_item p {
    display: inline-block;
    width: 68%;
    vertical-align: top;
    border-left: #fc6 4px solid ;
    padding-left: 2px;
    margin-top: 0;
}
.advantages {
    padding-bottom: 5%;
}
.advantages_flexbox {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.div_advantages_item span {
    color: #fc6;
}



.main_list_conteiner {
    background-color: #00282a;
    padding-bottom: 50px;
    border: 2px solid #ffffffe9;
}
.main_list_conteiner h2 {
    border-bottom: #fc6 2px solid ;
    text-align: center;
}

.sub-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease; /* Анимация высоты */
    padding: 0;
  }
  .sub-list li {
    list-style: none;
    padding-left: 0 !important;
    margin: 0;
    text-align: left;
    margin-left: 20px; /* Отступ для подсписка */
    
  }
  
  .sub-list.active {
    display: block;
    padding-left: 0;
    max-height: 1000px; /* Максимальная высота для анимации */
  }
  .main-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    
  }
  .main-list li {
    background-color: #fc6;
    cursor: pointer;
    margin-bottom: 15px;
    
  }
.first_li {
    border-radius: 20px 20px 20px 20px ;
    text-decoration: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    
}


.list_conteiner {
width: 80%;
margin: 0 auto;
background-color: #00282a;

}

.happy_first_block {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}
.conteiner_happy_client {
    width: 90%;
    margin: 0 auto;
}
.happy_first_block h2 {
    display: inline-block;
    width: 20%;

}

.happy_first_block p {
    display: inline-block;
    text-align: right;
    width: 80%;
}


.conteiner_process {
    display: flex;
    text-align: center;
}

.conteiner_process div {
    margin-right: 15px;
    border-top: 2px solid #fc6;
}








.about_us_info h2 {
    text-align: center;
}
.about_us_info h3 {
    text-align: start;
}

.about_us_info p {
    padding: 0 2% 0 2%;
}
.advantages h2 {
    background-color: #00282a;
    color: #fc6;
    margin: 0;
    text-align: center;
    padding: 5px 0;

}







.compleks {
    display: flex;
    justify-content: space-around;
}
.compleks div {
    width: 40%;
}

.turnkey{
    background-image: url(main_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.turnkey h2 {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    font-size: 40px;
    color: rgb(236, 163, 15);
    opacity: 0.7;
    text-shadow: 1px 1px 1px #000;
}

.turnkey button {
    margin-top: 10%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20%;
    width: 40%;
    height: 20%;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    cursor: pointer;
}

.turnkey button:hover {
    width: 45%;
    height: 25%;
    transition: 1s ease;
    background-color: #fc6;
}

.design h2 {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    font-size: 40px;
    color: rgb(236, 163, 15);
    opacity: 0.7;
    text-shadow: 1px 1px 1px #000;
}

.design button {
    margin-top: 10%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20%;
    width: 40%;
    height: 20%;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    cursor: pointer;

}
.design button:hover {
    width: 45%;
    height: 25%;
    transition: 1s ease;
    background-color: #fc6;
}

.design{
    background-image: url(main_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.prices h2 a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.prices p {
    padding: 0 2% 0 2%;
}
.prices_items {
    display: flex;
    justify-content: space-around;
    

}

.prices_items p {
    padding-left: 10%;
    text-indent: -25px;
}

.prices_items_first span {
    font-size: 200%;
    position: relative;
    right: 3%;
    color: rgb(234, 164, 24);

    
}

.prices_items_twice span {
    font-size: 200%;
    position: relative;
    right: 3%;
    color: rgb(234, 164, 24);

}

.main_video {
    display: block;
    margin: 5% auto 0 auto;
    width: 50%;
}

.our_team h2{
    text-align: center;
}

.our_team h3{
    text-align: center;
}





.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    margin-top: 5%;
}

.carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 20%; 
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
    border: 1px solid #ddd;
    padding: 20px;
}

img {
    /* width: 100%; */
    height: auto;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 36px;
    transform: translateY(-50%);
    color: rgb(214, 146, 9);
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}